.body-providers {
    padding-top: 5px;
}

.first-text {
    color: black;
    font-size: 40px;
    font-family: serif;
}

.second-text {
    color: black;
    font-size: 25px;
    font-family: serif;
}

.third-text {
    color: black;
    font-size: 20px;
    font-family: serif;
}

.img-providers {
    height: 400px;
    width: 800px;
}

.stack-text-providers {
    text-align: center;
}

@media(max-width: 1050px) {

    .box-1-services {
        display: none;
    }

    /*---------------------------------------------------------------------*/


    #responsive-first-text {
        color: black;
        font-size: 35px;
        font-family: serif;
    }

    #responsive-second-text {
        color: black;
        font-size: 25px;
        font-family: serif;
    }

    #responsive-third-text {
        color: black;
        font-size: 20px;
        font-family: serif;
    }

    #responsive-img-providers {
        height: 400px;
        width: 800px;
    }

}

@media(max-width: 830px) {

    .box-1-services {
        display: none;
    }

    /*---------------------------------------------------------------------*/

    #responsive-first-text {
        color: black;
        font-size: 30px;
        font-family: serif;
    }

    #responsive-second-text {
        color: black;
        font-size: 25px;
        font-family: serif;
    }

    #responsive-third-text {
        color: black;
        font-size: 20px;
        font-family: serif;
    }

    #responsive-img-providers {
        height: 300px;
        width: 600px;
    }


}

@media(max-width: 650px) {

    .box-1-services {
        display: none;
    }

    /*---------------------------------------------------------------------*/


    #responsive-first-text {
        color: black;
        font-size: 24px;
        font-family: serif;
    }

    #responsive-second-text {
        color: black;
        font-size: 20px;
        font-family: serif;
    }

    #responsive-third-text {
        color: black;
        font-size: 18px;
        font-family: serif;
    }

    #responsive-img-providers {
        height: 150px;
        width: 280px;
    }


}