.box-1-about {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    margin: 0px auto;
    padding: 15px;
}

.stack-img-about {
    align-items: center;
    padding: 30px;
}

.stack-text-about {
    align-items: center;
    padding: 30px;
}

.img-about {
    max-width: 800px;
}

.first-text {
    color: black;
    font-size: 40px;
}

.second-text {
    color: black;
    font-size: 25px;
}

.third-text {
    color: black;
    font-size: 20px;
}