.box-1-about {
    display: flex;
    justify-content: space-between;
    background: #321B1B;
    align-items: center;
    margin: 0px auto;
    padding: 15px;
}

.stack-img-about {
    align-items: center;
    padding: 30px;
}

.stack-text-about {
    text-align: center;
    align-items: center;
    padding: 30px;
}

.img-about {
    max-width: 800px;
}

.first-text {
    color: white;
    font-size: 40px;
    font-style: italic;
}

.second-text {
    color: white;
    font-size: 25px;
    font-style: italic;
}

.third-text {
    color: white;
    font-size: 20px;
    font-style: italic;
}

@media(max-width: 1200px) {

    .box-1-about {
        display: none;
    }

    /*---------------------------------------------------------------------*/

    #responsive-box-1-about {
        display: block;
        justify-content: space-between;
        background: #321B1B;
        align-items: center;
        margin: 0px auto;
        padding: 15px;
    }

    #responsive-stack-img-about {
        align-items: center;
        padding: 30px;
    }

    #responsive-stack-text-about {
        text-align: center;
        align-items: center;
        padding: 30px;
    }

    #responsive-img-about {
        max-width: 800px;
    }

    #responsive-first-text {
        color: white;
        font-size: 40px;
    }

    #responsive-second-text {
        color: white;
        font-size: 25px;
    }

    #responsive-third-text {
        color: white;
        font-size: 20px;
    }

}

@media(max-width: 750px) {

    .box-1-about {
        display: none;
    }

    /*---------------------------------------------------------------------*/

    #responsive-box-1-about {
        display: block;
        justify-content: space-between;
        background: #321B1B;
        align-items: center;
        margin: 0px auto;
        padding: 15px;
    }

    #responsive-stack-img-about {
        align-items: center;
        padding: 30px;
    }

    #responsive-stack-text-about {
        text-align: center;
        align-items: center;
        padding: 30px;
    }

    #responsive-img-about {
        max-width: 500px;
    }

    #responsive-first-text {
        color: white;
        font-size: 32px;
    }

    #responsive-second-text {
        color: white;
        font-size: 28px;
    }

    #responsive-third-text {
        color: white;
        font-size: 24px;
    }

}

@media(max-width: 555px) {

    .box-1-about {
        display: none;
    }

    /*---------------------------------------------------------------------*/

    #responsive-box-1-about {
        display: block;
        justify-content: space-between;
        background: #321B1B;
        align-items: center;
        margin: 0px auto;
        padding: 15px;
    }

    #responsive-stack-img-about {
        align-items: center;
        padding: 30px;
    }

    #responsive-stack-text-about {
        text-align: center;
        align-items: center;
        padding: 30px;
    }

    #responsive-img-about {
        max-width: 250px;
    }

    #responsive-first-text {
        color: white;
        font-size: 24px;
    }

    #responsive-second-text {
        color: white;
        font-size: 20px;
    }

    #responsive-third-text {
        color: white;
        font-size: 18px;
    }

}