.first-text {
    color: white;
    font-size: 40px;
}

.second-text {
    color: white;
    font-size: 25px;
}

.third-text {
    color: white;
    font-size: 20px;
}

.img-home {
    height: 500px;
    width: 1200px;
}

.stack-home-text {
    text-align: center;
}

@media(max-width: 1050px) {

    /*---------------------------------------------------------------------*/


    #responsive-first-text {
        color: white;
        font-size: 35px;
    }

    #responsive-second-text {
        color: white;
        font-size: 25px;
    }

    #responsive-third-text {
        color: white;
        font-size: 20px;
    }

    #responsive-img-home {
        height: 300px;
        width: 600px;
    }

}

@media(max-width: 830px) {

    .box-1-services {
        display: none;
    }

    /*---------------------------------------------------------------------*/

    #responsive-first-text {
        color: white;
        font-size: 30px;
        font-style: italic;
    }

    #responsive-second-text {
        color: white;
        font-size: 25px;
        font-style: italic;
    }

    #responsive-third-text {
        color: white;
        font-size: 20px;
        font-style: italic;
    }

    #responsive-img-home {
        height: 300px;
        width: 600px;
    }


}

@media(max-width: 650px) {

    .box-1-services {
        display: none;
    }

    /*---------------------------------------------------------------------*/


    #responsive-first-text {
        color: white;
        font-size: 24px;
    }

    #responsive-second-text {
        color: white;
        font-size: 20px;
    }

    #responsive-third-text {
        color: white;
        font-size: 18px;
    }

    #responsive-img-home {
        height: 150px;
        width: 280px;
    }


}