.box-1 {
    display: flex;
    background-color: rgba(238, 226, 226, 0.555);
    align-items: center;
    margin: 0px auto;
    max-width: 800px;
}

.stack-img {
    align-items: center;
}

.stack-text {
    padding: 50px;
    text-align: center;
    align-items: center;
}

.img {
    padding: 10px;
    max-width: 400px;
    width: 100%;
}

.first-text {
    color: black;
    font-size: 30px;
}

.second-text {
    color: black;
    font-size: 20px;
}


/* ----------------------------RESPONSIVE---------------------------------------*/

@media(max-width: 500px) {

    .box-1 {
        display: none;
    }

    .stack-img {
        display: none;
    }

    .stack-text {
        display: none;
    }

    .img {
        display: none;
    }

    .first-text {
        display: none;
    }

    .second-text {
        display: none;
    }

    /*---------------------------------------------------------------------*/

    #responsive-box {
        display: flex;
        flex-direction: column;
        background-color: rgba(238, 226, 226, 0.555);
        align-items: center;
        max-width: 600px;
        margin: 0px auto;
    }

    #responsive-stack-img {
        display: flex;
        align-items: center;
    }

    #responsive-stack-text {
        display: flex;
        align-items: center;
        text-align: center;
    }

    #responsive-img {
        padding: 10px;
        display: flex;
        max-width: 400px;
        width: 100%;
    }

    #responsive-first-text {
        display: flex;
        color: black;
        font-size: 24px;
    }

    #responsive-second-text {
        display: flex;
        color: black;
        font-size: 20px;
    }

}